
<div class="row">
  <div class="col-md-3 col-xs-12">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">FAQ</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank"  class="btn_2">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">Travel Insurance products comparation</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank"  class="btn_2">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">How to buy travel insurance</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">How to claim</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn_2">Learn more.</a></p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 price-search">
    <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    Canada Travel Insurance Price Search
                </h4>
            </div>
              <div class="panel-body">
              {{main.hi}}
                  <form name="main.form" class="form-horizontal" role="form" ng-submit="main.searchPrices()" novalidate>
                    <!-- <div class="form-group">
                      <label class="control-label col-sm-2" for="birthday">Birthday:</label>
                      <div class="col-sm-10">
                        <input type="date" class="form-control" id="birthday" placeholder="Birthday">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="pwd">Coverage:</label>
                      <div class="col-sm-10">
                        <select class="form-control" id="coverage">
                          <option>-Select-</option>
                          <option>10,000 CAD</option>
                          <option>15,000 CAD</option>
                          <option>20,000 CAD</option>
                        </select>                         
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="startdate">Start Date:</label>
                      <div class="col-sm-10">
                        <input type="date" class="form-control" id="startdate" placeholder="Start Date">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="enddate">End Date:</label>
                      <div class="col-sm-10">
                        <input type="date" class="form-control" id="enddate" placeholder="End Date">
                      </div>
                    </div> -->
                    <formly-form model="main.searchModel", fields="main.searchFields">
                    </formly-form>
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 col-sm-10 text-center">
                        <button type="submit" class="btn btn-success btn-lg">Search</button>
                      </div>
                    </div>
                </form>
              </div>            
        </div>
  </div>
  <div class="col-md-3 col-xs-12 right-sidebar">
    <div class="row">
      <div class="col-xs-12">
        <a href="/" class="btn btn-success btn-lg">Topic for Super Visa</a>
      </div>
    </div>    
    <div class="row">
      <div class="col-xs-12">
        <a href="/" class="btn btn-danger btn-lg">Buy Online</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="wrap_10">
                        <h2 class="header_2 indent_3">Latest Posts</h2>
                        <div class="box_6">
                            <div class="put-left">
                                <div class="caption">
                                    <img src="images/index-3_img01.jpg" alt="Image 1"/>
                                    <p class="text_2 color_1">
                                        July 20, 2014
                                    </p>
                                </div>
                            </div>
                            <div class="caption">
                                <h3 class="text_2 color_2"><a href="#">Tertomino verto</a></h3>
                                <p class="text_3">
                                    Horem ipsum dolor sit amettetur ing elit. In mollis erat mattis neque cilisis, sit
                                    amet <br/>
                                    ultries wertolio dasererat rutrume. <br/>
                                    <br/>
                                    In mollis erat mattis neque cilisis, sit amet ultries wertolio dasererat rutrume.
                                </p>
                                <a class="btn_2" href="#">read more</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box_6">
                            <div class="put-left">
                                <div class="caption">
                                    <img src="images/index-3_img02.jpg" alt="Image 2"/>
                                    <p class="text_2 color_1">
                                        July 28, 2014
                                    </p>
                                </div>
                            </div>
                            <div class="caption">
                                <h3 class="text_2 color_2"><a href="#">Hertomino vertoe</a></h3>
                                <p class="text_3">
                                    Lorem ipsum dolor sit amettetur ing elit. In mollis erat mattis neque cilisis, sit
                                    amet
                                    ultries wertolio dasererat rutrume. <br/>
                                    <br/>
                                    In mollis erat mattis neque cilisis, sit amet ultries wertolio dasererat rutrumew.
                                </p>
                                <a class="btn_2" href="#">read more</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box_6">
                            <div class="put-left">
                                <div class="caption">
                                    <img src="images/index-3_img03.jpg" alt="Image 3"/>
                                    <p class="text_2 color_1">
                                        August 23, 2014
                                    </p>
                                </div>
                            </div>
                            <div class="caption">
                                <h3 class="text_2 color_2"><a href="#">Kertoino vertode</a></h3>
                                <p class="text_3">
                                    Morem ipsum dolor sit amettetur ing elit. In mollis erat mattis neque cilisis, sit
                                    amet
                                    ultries wertolio dasererat rutrume. <br/>
                                    <br/>
                                    In mollis erat mattis neque cilisis, sit amet ultries wertolio dasererat rutrumes.\
                                </p>
                                <a class="btn_2" href="#">read more</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
</div>