
<div class="row">
  <div class="col-md-3 col-xs-12">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">FAQ</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank"  class="btn_2">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">Travel Insurance products comparation</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank"  class="btn_2">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">How to buy travel insurance</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">How to claim</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn_2">Learn more.</a></p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 price-search">
    <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    Canada Travel Insurance Price Search
                </h4>
            </div>
              <div class="panel-body">
              {{main.hi}}
                  <form name="main.form" class="form-horizontal" role="form" ng-submit="main.searchPrices()" novalidate>                    
                    <formly-form model="main.searchModel", fields="main.searchFields">
                    </formly-form>
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 col-sm-10 text-center">
                        <button type="submit" class="btn btn-success btn-lg">Search</button>
                      </div>
                    </div>
                </form>
              </div>            
        </div>
  </div>
  <div class="col-md-3 col-xs-12 right-sidebar">
    <div class="row">
      <div class="col-xs-12">
        <a href="/" class="btn btn-success btn-lg">Topic for Super Visa</a>
      </div>
    </div>    
    <div class="row">
      <div class="col-xs-12">
        <a href="/" class="btn btn-danger btn-lg">Buy Online</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="wrap_10">
        <h2 class="header_2 indent_3">Latest Posts</h2>
        <div class="box_6" ng-repeat="blog in main.blogs">
            <div class="put-left auto col-xs-12 col-md-4">
                <div class="caption">
                    <img ng-src="{{blog.image.url}}" alt="{{blog.image.alt}}"/>
                    <p class="text_2 color_1">                        
                        {{blog.created | date}}
                    </p>
                </div>
            </div>
            <div class="caption col-xs-12  col-md-8">
                <h3 class="text_2 color_2"><a href="#/blog">{{blog.title}}</a></h3>             
                <div ng-bind-html="blog.body"></div>
                <a class="btn_2" href="#/blog">read more</a>
            </div>
            <div class="clearfix"></div>
        </div>                
    </div>
</div>