<div id="search-prices">
    <div class="article">
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h2 class="header_2 indent_4">Canada Travel Insurance Price Search</h2>
            </div>
        </div>                 
        <div class="row  wrap_17">
            <div class="col-xs-3">
                <h3 class="text_2 color_2">Current age: {{search.model.currentAge}}</h3>
            </div>
            <div class="col-xs-3">
                <h3 class="text_2 color_2">Effective date age: {{search.model.effectiveAge}}</h3>
            </div>
            <div class="col-xs-3">
                <h3 class="text_2 color_2">Amount: {{search.model.amount}}</h3>
            </div>
            <div class="col-xs-3">
                <h3 class="text_2 color_2">Total days: {{search.model.totalDays}}</h3>
            </div>
            <div class="col-xs-12">
                <table id="search-table" class="table table-striped">
                    <thead class="thead-inverse">
                        <tr class="success">
                            <th class="col-xs-3">Insurance Company</th>
                            <th class="col-xs-1">Deductible</th>
                            <th class="col-xs-4">Price/day</th>
                            <th class="col-xs-4">Total price</th>      
                        </tr>
                    </thead>
                    <tr>          
                    <tbody>
                        <tr ng-repeat="item in search.model.allPrices">
                            <td class="col-xs-3"><h3 class="text_2 color_2 ng-binding">{{item.title}}</h3></td>
                            <td colspan="3">
                                <table class="table table-bordered">
                                    <tr ng-repeat="subitem in item.detail">
                                        <td class="col-xs-1">${{subitem.deductible}}</td>
                                        <td class="col-xs-4"><div>With stable pre-existing medical condition coverage:{{subitem.pricePerdayWith | currency}}</div>
                                        <div>Without stable pre-existing medical condition coverage:<span ng-if="subitem.pricePerdayWithout">{{subitem.pricePerdayWithout | currency}}</span>
                                        <span ng-if="!subitem.pricePerdayWithout">n/a</span>
                                        </div>
                                        </td>
                                        <td class="col-xs-4"><div>With stable pre-existing medical condition coverage:{{subitem.priceTotalWith | currency}}</div>
                                        <div>Without stable pre-existing medical condition coverage:<span ng-if="subitem.pricePerdayWithout">{{subitem.priceTotalWithout | currency}}</span>
                                        <span ng-if="!subitem.pricePerdayWithout">n/a</span></td>
                                    </tr>
                                </table>
                            </td>              
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>                
    </div>
</div>
