<div id="page">
    <div class="article">
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h2 class="header_2 indent_4">Allianz Global Assistant-Emergency Hospital/Medical Insurance Plans</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="images/allianz.png" alt="Allianz Global Assistant-Visitors to Canada" title="Allianz" >
            </div>
        </div>        
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">English Note:</h3>
            </div>
        </div>
        <div class="row wrap_17">
            <div class="col-xs-12 col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Attachment</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="files/TIC-Visitors-to-Canada-Brochure-English(Nov2012).pdf" target="_blank">TIC-Visitors-to-Canada-Brochure-English(Nov2012).pdf</a></td>
                            <td>973.52 KB</td>
                        </tr>
                        <tr>
                            <td><a href="files/Claim-Form-TIC.pdf" target="_blank">Claim-Form-TIC.pdf</a></td>
                            <td>170.59 KB</td>
                        </tr>
                        <tr>
                            <td><a href="files/7T019MQ-1112_detailed.pdf" target="_blank">7T019MQ-1112_detailed.pdf</a></td>
                            <td>836.81 KB</td>
                        </tr>
                        <tr">
                            <td><a href="files/TIC-Policy-Wording.pdf" target="_blank">TIC-Policy-Wording.pdf</a></td>
                            <td>61.6 KB</td>
                        </tr>
                        <tr">
                            <td><a href="files/allianz-Refund-request-form.pdf" target="_blank">allianz-Refund-request-form.pdf</a></td>
                            <td>95.79 KB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
