<section>
    <div class="row wrap_17">
        <div class="col-xs-12">
            <h2 class="header_2 indent_4">Berkley-JF Royal Visitors to Canada</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img src="images/berkley_logo.jpg" alt="Berkley-JF Royal Visitors to Canada" title="" width="246" height="74">
        </div>
    </div>
    <div class="row  wrap_17">
        <h3 class="text_2 color_2">With stable pre-existing medical condition coverage price schedule:</h3>
        <!-- {{insurance.prices.berkley}} -->
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr class="success">
                    <th>Age</th>
                    <th>10000</th>
                    <th>15000</th>
                    <th>25000</th>
                    <th>50000</th>
                    <th>100000</th>
                    <th>150000</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in insurance.prices.berkley.with">
                    <td>{{item.age}}</td>
                    <td>{{item.v10000}}</td>
                    <td>{{item.v15000}}</td>
                    <td>{{item.v25000}}</td>
                    <td>{{item.v50000}}</td>
                    <td>{{item.v100000}}</td>
                    <td>{{item.v150000}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row  wrap_17">
        <h3 class="text_2 color_2">Without stable pre-existing medical condition coverage price schedule:</h3>
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr class="success">
                    <th>Age</th>
                    <th>10000</th>
                    <th>15000</th>
                    <th>25000</th>
                    <th>50000</th>
                    <th>100000</th>
                    <th>150000</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in insurance.prices.berkley.without">
                    <td>{{item.age}}</td>
                    <td>{{item.v10000}}</td>
                    <td>{{item.v15000}}</td>
                    <td>{{item.v25000}}</td>
                    <td>{{item.v50000}}</td>
                    <td>{{item.v100000}}</td>
                    <td>{{item.v150000}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text_2 color_2">English Note:</h3>            
            <p>$100 deductible, 5% discont; $1000, 20% discount; $3000 discount, 30% discount. </p>
            <p>$2,500 disappearing deductible: 30% discount applies t $25,000 policy limit only-any age-per person,per sickness; 25% discount applies to $50,000 policy limit only -up  age 85-per person, per sickness.</p>
        </div>
    </div>
    <div class="row wrap_17">
        <div class="col-xs-12">
            <h3 class="text_2 color_2">Berkley JF Royal访加计划</h3>            
            <h3 class="text_2 color_2">承保资格</h3>
            <ol>
                <li>1.来加访问、探亲、旅游者，或持有工作签证或超级签证者，还没有所在省或地区的政府健康保险的加拿大移民或居民；</li>
                <li>2.在保单生效日期前在加拿大连续居住不超过两年；</li>
                <li>3.在购买时至少出生15天;</li>
                <li>4.没有违背医生的建议旅行或被诊断为终结性的疾病（terminal illness）。终结性疾病是指医生估计有少于6个月的疾病或<a href="https://en.wikipedia.org/wiki/Palliative_care">姑息性治疗（palliative care）</a>的疾病；</li>
                <li>5.没有需要透析的肾脏疾病；</li>
                <li>6.没有充血性的心力衰竭，爱滋或要求在家里使用氧气；</li>
                <li>7.没有新的或未被诊断的症状，或知道任何原因需要求医。</li>
                <li>注：您的配偶孩子需要满足以上条件方可购买本计划中的家庭计划</li>
            </ol>
            <p>The language in this summary may not be the same as the legal and technical terminology found in the official policy wording. In all instances, the official policy wording  will prevail. For complete details, refer to the policy wording, which is available in the attachment of every plan's page in our website.</p>
        </div>
    </div>
    <div class="row wrap_17">
        <div class="col-xs-12 col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Attachment</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <td><a href="files/policy-jfr-berkley-jf-royal-visitors-to-canada.pdf" target="_blank">policy-jfr-berkley-jf-royal-visitors-to-canada.pdf</a></td>
                        <td>200.58 KB</td>
                    </tr>
                    <tr class="even">
                        <td><a href="files/jfr-berkley-jf-royal-visitors-to-canada.pdf" target="_blank">jfr-berkley-jf-royal-visitors-to-canada.pdf</a></td>
                        <td>4.95 MB</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
