<div id="page">
    <div class="article">
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h2 class="header_2 indent_4">RSA Student Medical Insurance</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="images/rsa-student.jpg" alt="RSA Student Medical Insurance" title="RSA Student Medical Insurance" >
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">English Note:</h3>
            </div>
        </div>
        <div class="row wrap_17">
            <div class="col-xs-12 col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Attachment</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="files/RSA-Study-safe.pdf" target="_blank">RSA-Study-safe.pdf</a></td>
                            <td>1.16 MB</td>
                        </tr>                                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
