<div id="page">
    <div class="article">
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h2 class="header_2 indent_4">TIC-JF Optimum Plus Visitor Plan</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="images/tic_logo.jpg" alt="TIC-JF Optimum Plus Visitor Plan" title="" width="246" height="74">
            </div>
        </div>
        <div class="row  wrap_17">
            <h3 class="text_2 color_2">With stable pre-existing medical condition coverage price schedule:</h3>
            <!-- {{insurance.prices.berkley}} -->
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr class="success">
                        <th>Age</th>
                        <th>10000</th>
                        <th>15000</th>
                        <th>25000</th>
                        <th>50000</th>
                        <th>100000</th>
                        <th>150000</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in insurance.prices.tic.with">
                        <td>{{item.age}}</td>
                        <td>{{item.v10000}}</td>
                        <td>{{item.v15000}}</td>
                        <td>{{item.v25000}}</td>
                        <td>{{item.v50000}}</td>
                        <td>{{item.v100000}}</td>
                        <td>{{item.v150000}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row  wrap_17">
            <h3 class="text_2 color_2">Without stable pre-existing medical condition coverage price schedule:</h3>
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr class="success">
                        <th>Age</th>
                        <th>10000</th>
                        <th>15000</th>
                        <th>25000</th>
                        <th>50000</th>
                        <th>100000</th>
                        <th>150000</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in insurance.prices.tic.without">
                        <td>{{item.age}}</td>
                        <td>{{item.v10000}}</td>
                        <td>{{item.v15000}}</td>
                        <td>{{item.v25000}}</td>
                        <td>{{item.v50000}}</td>
                        <td>{{item.v100000}}</td>
                        <td>{{item.v150000}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">English Note:</h3>
                <p>$100 deductible, 5% discont; $1000, 20% discount; $3000 discount, 30% discount. $2,500 disappearing deductible: 30% discount applies t $25,000 policy limit only-any age-per person,per sickness; 25% discount applies to $50,000 policy limit only -up age 85-per person, per sickness.</p>
            </div>
        </div>
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">Eligibility</h3>
                <h3 class="text_2 color_2">To be eligible coverage under this plan, the applicant must:</h3>
                <ol>
                    <li>1.be a visitor to Canada, a person with a Canadian work visa or super visa, an immigrant to Canada or a Canada resident, who is not eligible for a provincial or territorial government healthe insurance plan in Canada.</li>
                    <li>2.be at least 15 days on the date of purchase.</li>
                    <li>3.not have been diagnosed with a terminal illness; or not have been diagnosed with stage 3 ot 4 cancer; or</li>
                    <li>4.not have been diagnosed with or have required medical treatmentfor kidney disease requiring dialysis; or</li>
                    <li>5.not have been diagnosed with or have had an episode of congestive heart failure; or</li>
                    <li>6.not have had a lung condition for which, in the last 12 months, youhave been prescribed or used home oxygen; or</li>
                    <li>7.not have received or is awaiting a bone marrow or major organ transplant.</li>                    
                </ol>                
            </div>
        </div>
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">Features</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>Content</td>
                        <td>Explanation</td>
                    </tr>
                    <tr>
                        <td>Coverage</td>
                        <td>$1000,$15000,$25000,$50000,$100000 and $150000</td>
                    </tr>
                    <tr>
                        <td>Deductible</td>
                        <td>$0,$100,$1000 and $3000, $2500 dispearing deductible under coverage $25,000 and $50,000</td>
                    </tr>
                    <tr>
                        <td>Duration of Coverage</td>
                        <td>365 days</td>
                    </tr>
                    <tr>
                        <td>Minimum Premium</td>
                        <td>$25</td>
                    </tr>
                    <tr>
                        <td>Family Plan</td>
                        <td>2 times the premium of the oldest person if parents's age is under 60</td>
                    </tr>
                    <tr>
                        <td>Side Trip</td>
                        <td>51% time in Canada and policy takes effective and expires in Canada</td>
                    </tr>
                    <tr>
                        <td>Waiting Period</td>
                        <td>If age 85 or under, 48 hours waiting period purchasing within 30 days after arrival in Canada and 7 days more than 30 days after arrival in Canada; If age 86 or over, 15 days waiting period purchasing after arrival in Canada.</td>
                    </tr>
                    <tr>
                        <td>Stable Pre-existing Conditions</td>
                        <td>covered for insureds age 69 or younger; covered for insureds age 70-85 if choosing the stable pre-existing condition coverage option</td>
                    </tr>
                    <tr>
                        <td>Refund</td>
                        <td>fully refunded before the effective date of the policy. partially refunded (less $40 administration fee) if returing to your country of origin with no claim incurred during your trip.</td>
                    </tr>                   
                </table>                
            </div>
        </div>    
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">Medical Benets Highlights</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>Content</td>
                        <td>Explanation</td>
                    </tr>
                    <tr>
                        <td>Hospital Accommodation</td>
                        <td>Reasonable and customary cost for inpatient and outpatient treatment</td>
                    </tr>
                    <tr>
                        <td>Physician Charges</td>
                        <td>Medical treatment by a physician</td>
                    </tr>
                    <tr>
                        <td>Diagnostic Services</td>
                        <td>Reasonable and customary cost for x-rays and laboratory tests</td>
                    </tr>
                    <tr>
                        <td>Private Duty Nursing during Hospitalization</td>
                        <td>Up to the sum insured</td>
                    </tr>
                    <tr>
                        <td>Ambulance Services</td>
                        <td>when reasonable and medically necessary, licensed ground ambulanceservice to the nearest hospital</td>
                    </tr>
                    <tr>
                        <td>Prescription Drugs</td>
                        <td>Up to $500, limited to a 30 days supply per prescription unless you're hospitalized</td>
                    </tr>
                    <tr>
                        <td>Medical Appliances</td>
                        <td>cast, splints,trusses,braces,crutches, rental of a wheelchair or other minor medical appliances</td>
                    </tr>
                    <tr>
                        <td>Paramedical Services</td>
                        <td>chiropodist,chiropractor,osteopath,physiotherapist or podiatrist, up to $500 per type of practitioner prescribed by a physician and approved by Ontime Care.</td>
                    </tr>
                    <tr>
                        <td>Acupuncture</td>
                        <td>Upt to $500 with a 365-day policy</td>
                    </tr>      

                    <tr>
                        <td>Treatment of Dental Accident</td>
                        <td>Up to $3,000</td>
                    </tr>                   
                     <tr>
                        <td>Emergency Relief of Dental Pain</td>
                        <td>Up to $500</td>
                    </tr>      
                     <tr>
                        <td>Flight Accident</td>
                        <td>Up to sum insured</td>
                    </tr>      
                     <tr>
                        <td>Repatriation </td>
                        <td>Approved in advance by Ontime Care</td>
                    </tr>      
                     <tr>
                        <td>Prepara and Return of Remains</td>
                        <td>Up to $10,000</td>
                    </tr>      
                </table>                
            </div>
        </div>
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">Claim</h3>
                <p>Before going to see doctor, be advised to contact Canada Travel Insurance Online Inc first and we will facilitate your claim process.</p>          
                <p>If necessary, call Ontime Care Worldwide:</p>
                <p>From Canada ans US, 1-866-209-5804</p>          
                <p>From anywhere, collect call 1-905-707-9555</p>
                <p>The language in this summary may not be the same as the legal and technical terminology found in the official policy wording. In all instances, the official policy wording  will prevail. For complete details, refer to the policy wording, which is available in the attachment of every plan's page in our website. </p>
            </div>
        </div>    
        <div class="row wrap_17">
            <div class="col-xs-12 col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Attachment</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td><a href="files/TIC-JF-OPTIMUM-PLUS-POLICY-WORDING.pdf" target="_blank">TIC-JF-OPTIMUM-PLUS-POLICY-WORDING.pdf</a></td>
                            <td>208.46 KB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
