<div id="page">
    <div class="article">
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h2 class="header_2 indent_4">TUGO  Student Medical Insurance</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="images/tugo_logo.png" alt="TUGO  Student Medical Insurance" title="tugo" >
            </div>
        </div>   
        <div class="row  wrap_17">
            <div class="col-xs-12">
                <h3 class="text_2 color_2 indent_4">Eligibility</h3>            
                <p>Applicable to inbound students You are eligible for coverage if: </p>
                <ol>
                    <li>1. You are 69 years and under at the time of application date of the Policy; and,</li>
                    <li>2. You are a student enrolled in a school within Canada; or, </li>
                    <li>3. You are an accompanying family member of the student residing in Canada; and, </li>
                    <li>4. You are not insured under a provincial or territorial government health care plan. If you become eligible for and insured under the government health care plan of the province or territory in which you study, the Insurance will then apply in excess of this provincial or territorial government health care plan;  and,  </li>
                    <li>5. You are not travelling against a physician’s advice and you have not been diagnosed with a terminal condition.</li>
                </ol>            
                <p>Applicable to outbound students You are eligible for coverage if: </p>
                <ol>
                    <li>1. You are 40 years and under at the time of application date of the Policy; and, </li>
                    <li>2. You are a student enrolled in a school outside Canada; or, </li>
                    <li>3. You are an accompanying family member of the student studying outside of Canada; and,   </li>
                    <li>4. You must be insured or eligible for benefits under the government health care plan of the province or territory in which you reside. If you are not insured under the government health care plan of the province or territory in which you reside, the portion that would have been refunded by the provincial or territorial government health care plan is not a benefit of this Insurance; and,  </li>
                    <li>5. You are not travelling against a physician’s advice and you have not been diagnosed with a terminal condition.</li>
                </ol>
            </div>
        </div>
         <div class="row  wrap_17">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">Conditions</h3>           
                <ol>             
                    <li>1. Travel worldwide during the period of coverage is valid as long as the majority of the period of coverage is spent in Canada or country  of study. Visits to your home country are permitted; your Policy will not terminate, however expenses will not be covered while in your home country. </li>
                    <li> 2. When you are enrolled in a school, coverage will be provided during school breaks as long as your Policy is in effect during these periods.</li>                    
                </ol>
            </div>
        </div>
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">Benefits</h3>            
                <p>Maximum limit - $2,000,000</p>
                <ol>
                    <li>1. Emergency medical treatment 
                        <ul>
                            <li>• Hospital confinement and medical treatment</li>
                            <li>• Physician</li>
                            <li>• Ambulance services</li>
                            <li>• X-ray examinations  X-ray examinations and diagnostic laboratory procedures. </li>
                            <li>• Medicines and/or drugs <br />Up to a maximum of $10,000 to a limit of a 30-day supply for medicines and/or drugs</li>
                            <li>• Private duty nursing</li>
                        </ul>
                    </li>
                    <li>2. Professional medical services<br />Up to a maximum of $600 per practitioner for the services of a physiotherapist, chiropractor, chiropodist, osteopath, podiatrist, cupuncturist, naturopath for the relief of acute emergency pain or speech therapist. </li>
                    <li>3. Emergency air transportation</span></p><p><span style="font-size: 16px;">This benefit is payable only when pre-approved and arranged by OneWorld Assist.</li>
                    <li>4. Annual physician visit</li>
                    <li>5. Non emergency treatment</li>
                    <li>6. Maternity<br />Up to $25,000 for pre-natal care (including but not limited to tests and prescribed medication), involuntary termination of pregnancy or resulting complications provided the pregnancy commenced during the period of coverage.</li>
                    <li>7. Impacted wisdom teeth</li>
                    <li>8. Dental
                        <ul>
                            <li>a) dental expenses you incur up to a maximum of $5,000 for an accident requiring the repair or replacement of sound natural<br />
                            teeth or permanently attached artificial teeth.    
                            </li>
                            <li>b) dental expenses you incur for dental pain relief other than pain caused by an accident, up to a maximum of $600.</li>
                        </ul>
                    </li>
                    <li>9. Repatriation</li>
                    <li>10. Psychiatric/psychological</li>
                    <li>11. Family transportation</li>
                    <li>12. Eye examination</li>
                    <li>13. Prescription glasses/contact lenses/hearing aids </li>
                    <li>14. Tutorial services</li>
                    <li>15. Accidental death and dismemberment</li>
                </ol>
            </div>
        </div> 
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">Refunds</h3>                      
                <p>Refunds should be requested from the selling agent.Refunds are not available if a claim has been or will be submitted.</p>
                <h4 class="text_2">Full refunds</h4>
                <p>A full refund is available if:</p>
                <ol>
                    <li>1. the entire Policy is cancelled prior to the effective date; or,</li>
                    <li>2. you have not arrived to Canada or your country of study; or,</li>
                    <li>3. your student visa for entry to Canada or country of study is refused; or,</li>
                    <li>4. you arrived in Canada or country of study but entry into Canada or country of study is denied.</li>
                </ol>
                <p>Refund requests must be submitted to Travel Underwriters within 45 days from the effective date.</p>
                <h4 class="text_2">Partial refunds</h4>
                <p>Requests for partial refunds must be received no later than 30 days after the expiry date of the Policy.</p>
                <p>Partial refunds are available after the Policy has gone into effect if:</p>
                <ol>
                    <li>1. you have returned permanently to your home country; or,</li>
                    <li>2. you become eligible and covered under a provincial or territorial government health care plan (inbound students only); or,</li>
                    <li>3. you are no longer enrolled in a school within Canada or your country of study.</li>
                    <p>Refunds are subject to an administration fee.</p>
                    <p>Refunds will be calculated from the date of permanent return to your home country, or from the date you became covered under a provincial or territorial government health care plan (inbound students only) or the date you are no longer enrolled in a school within Canada or your country of study.</p>
                    <p>Refunds will not be issued if the amount is $10 or less per Policy.</p>
                </ol>
            </div>
        </div>
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">Claims Procedures and Payment of Benefits</h3>
                <p>Keep these numbers handy when you travel. You can contact us at the following numbers or visit us at <a href="http://www.oneworldassist.com">www.oneworldassist.com</a></p>
                <p>In the event of hospitalization, call OneWorld Assist immediately:</p>
                <p>From Canada &amp; USA . . . . . . . . . . . . . . . . . . . . . . . . . 1-800-663-0399</p>
                <p>From Mexico . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 001-800-514-9976</p>
                <p>Outside N. America &amp; Mexico (global toll-free) . . . . . . *800-663-00399</p>
                <p>The language in this summary may not be the same as the legal and technical terminology found in the official policy wording. In all instances, the official policy wording  will prevail. For complete details, refer to the policy wording, which is available in the attachment of every plan's page in our website.</p><p><span style="font-size: 16px;">Worldwide (collect) . . . . . . . . . . . . . . . . . . . . . . . . . . . **604-278-4108</p>
            </div>
        </div> 
        <div class="row wrap_17">
            <div class="col-xs-12 col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Attachment</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td><a href="files/tu-student-policy-wording.pdf" target="_blank">tu-student-policy-wording.pdf</a></td>
                            <td>500.73 KB</td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
