<div id="page">
    <div class="article">
        <div class="row wrap_17">
            <div class="col-xs-12">
                <h2 class="header_2 indent_4">TUGO-Visitor to Canada Platinum</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="images/tugo_logo.png" alt="TUGO-Visitor to Canada Platinum" title="tugo" >
            </div>
        </div>
        <div class="row  wrap_17">
            <h3 class="text_2 color_2">With stable pre-existing medical condition coverage price schedule:</h3>
            <!-- {{insurance.prices.berkley}} -->
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr class="success">
                        <th>Age</th>
                        <th>10000</th>
                        <th>20000</th>
                        <th>30000</th>
                        <th>40000</th>
                        <th>50000</th>
                        <th>60000</th>
                        <th>80000</th>
                        <th>100000</th>
                        <th>150000</th>
                        <th>200000</th>
                        <th>250000</th>
                        <th>300000</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in insurance.prices.tugo.with">
                        <td>{{item.age}}</td>
                        <td>{{item.v10000}}</td>
                        <td>{{item.v20000}}</td>
                        <td>{{item.v30000}}</td>
                        <td>{{item.v40000}}</td>
                        <td>{{item.v50000}}</td>
                        <td>{{item.v60000}}</td>
                        <td>{{item.v80000}}</td>
                        <td>{{item.v100000}}</td>
                        <td>{{item.v150000}}</td>
                        <td>{{item.v200000}}</td>
                        <td>{{item.v250000}}</td>
                        <td>{{item.v300000}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row  wrap_17">
            <h3 class="text_2 color_2">Without stable pre-existing medical condition coverage price schedule:</h3>
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr class="success">
                        <th>Age</th>
                        <th>10000</th>
                        <th>20000</th>
                        <th>30000</th>
                        <th>40000</th>
                        <th>50000</th>
                        <th>60000</th>
                        <th>80000</th>
                        <th>100000</th>
                        <th>150000</th>
                        <th>200000</th>
                        <th>250000</th>
                        <th>300000</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in insurance.prices.tugo.without">
                        <td>{{item.age}}</td>
                        <td>{{item.v10000}}</td>
                        <td>{{item.v20000}}</td>
                        <td>{{item.v30000}}</td>
                        <td>{{item.v40000}}</td>
                        <td>{{item.v50000}}</td>
                        <td>{{item.v60000}}</td>
                        <td>{{item.v80000}}</td>
                        <td>{{item.v100000}}</td>
                        <td>{{item.v150000}}</td>
                        <td>{{item.v200000}}</td>
                        <td>{{item.v250000}}</td>
                        <td>{{item.v300000}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text_2 color_2">English Note:</h3>
            </div>
        </div>
        <div class="row wrap_17">
            <div class="col-xs-12 col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Attachment</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td><a href="files/TU-visitorsplatinum-policywording-2012-11.pdf" target="_blank">TU-visitorsplatinum-policywording-2012-11.pdf</a></td>
                            <td>478.88 KB</td>
                        </tr>
                        <tr class="even">
                            <td><a href="files/TU-VTC-rate.pdf" target="_blank">TU-VTC-rate.pdf</a></td>
                            <td>113.38 KB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
